body {
    font-size: 10pt;
    font-size-adjust: 0.44;
    max-width: 800px; 
    min-width: 700px; 
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    line-height: 20px;
    color: #404040;
}

a {
    color: #003380;
    text-decoration: none;
}

.headlink {
    float: right;
    display: inline;
}

.headlink a {
    color: black;
    padding: 0px 12px 0px;
    font-size: 11pt;
}

ul {
    line-height: 20px;
    list-style: square;
}

img {
    display: inline-block;
    hspace: 0px;
}

h3 {
    font-variant: small-caps;
}
